//- ============================================================================
//- Mathigon | Quadratic Equations Content
//- (c) 2016 Mathigon
//- ============================================================================


include ../mixins

//- ---------------------------------------------------------------------------
//- ---------------------------------------------------------------------------

section
  +intro

  h2 Introduction

  p.text-center #[em ax]#[sup 2] + #[em bx] + #[em c] = 0
  p.text-center #[em ax] = #[span.frac #[span #[em b] #[span.math ±] #[span.sqrt #[em b]#[sup 2] – 4#[em ac]]]#[span 2#[em b]]]


  h2 Factorising


  h2 Completing the Square


  h2 The Quadratic Formula


  h2 Geometric Interpretation


  h2 Applications


