//- ============================================================================
//- Mathigon | Quadratic Equations Content
//- (c) 2016 Mathigon
//- ============================================================================


include ../mixins

//- ---------------------------------------------------------------------------
//- ---------------------------------------------------------------------------

section#s1
  +intro

  h2 Introduction

  p Welcome to SkateSum, a small company that produces skateboards. Engineers have been working on a brand new model, the #[em SquareBoard], which is finally ready to start production. However building the skateboards is not cheap:

  ul
    li The tools and machines required to construct skateboards cost $2,000.
    li Every skateboard costs additional $60 worth of of wood and other materials, as well as the salary for employees.

  p The new skateboards are highly anticipated, but the higher the price is, the fewer people will actually buy one. We can show this relationship on a simple chart with the cost of a skateboard on the x-axis, and the corresponding number of people who will buy one on the y-axis.

  p.todo Multiple choice interactive: ... Exactly! Higher cost means lower demand, so the graph of the function moves downwards.

  p Economists did some market research and came up with the following equation that relates the price of skateboards to the demand:

  p.text-center #[em.b.purple demand] = 5000 – 30 × #[em.b.orange price]

  p For example, if the skateboard costs $100, the demand will be #[+input(2000)] units. This is called a #[strong linear equation], because its graph is just a straight line.

  p The company wants to maximise its #[em.b.blue profit], which is the #[em.b.green revenue] they make from selling skateboards, minus the #[em.b.red cost] which they have to spend to produce them. We can come up with equations for all of these values.

  p The revenue is the number of units sold (the demand) times the price of each:
  p.text-center #[em.b.green revenue] = #[em.b.purple demand] × #[em.b.orange price]

  p The cost is $2000 for buying tools and machines plus the $60 for every skateboard they produce – and ideally this number should be equal to the demand:
  p.text-center #[em.b.red cost] = 2000 + 60 × #[em.b.purple demand]

  p Finally, the profit is the difference between those two values. We can substitute the variables we have previously determined, and express total #[em.b.blue profit] just in terms of the #[em.b.orange price] of every skateboard:

  x-equation-system
    table
      tr
        td #[em.b.blue profit]
        td= '='
        td #[em.b.green revenue] – #[em.b.red cost]
      tr
        td
        td= '='
        td: x-equation.var(vars="profit revenue cost demand price", fns="+ - * ^", x-props="qvalidate")

  p.
    cost = 2000 + 60 × (5000 - 30 × #[em.orange price]) = 302000 - 1800 × price#[br]
    profit = demand × price - cost = (5000 - 30 × price) × #[em.orange price] – (302000 - 1800 × #[em.orange price])#[br]
    profit = -30 × price2 + 6800 × price - 302000#[br]

  p.text-center #[mi x]#[mo =]#[mfrac #[mrow #[mi b]#[mo ±]#[msqrt #[mrow #[mi b]#[sup 2]#[mo –]4#[mi ac]]]]#[mrow 2#[mi b]]]

  p Notice that this equation contains #[em price] as well as #[em price]#[sup 2]. Therefore it is called a #[strong Quadratic Equation].

  p We want to find the value of price that produces the largest profit. We can start by creating a graph that shows the profit (on the #[em y]-axis) for a range of possible different prices (on the #[em x]-axis):

  x-coordinate-system(x="-20 180 20" x-label="price" y="-100 100 20" y-label="profit" y-suffix="k" fn="-0.03 * x^2 + 6.8 * x - 302")

  p If the price is 0, the “profit” is negative, because we’re just giving away expensive skateboards. As the price increases, our profit rises. However, if the skateboards become too expensive, people no longer want to buy them and the profit falls again. SkateSum can maximise its profit by pricing the skateboards at approximately $#[+input(110)].


section
  h2 Quadratic Equations

  p Quadratic equations are of the form
  p.text-center #[em a] #[em x]#[sup 2] + #[em b] #[em x] + #[em c] = 0,
  p where #[em x] is a variable and #[em a], #[em b] and #[em c] can be any numbers (including negative ones). Both #[em b] and #[em c] could be 0, but #[em a] can’t be 0 because then we would just have a linear equation.

  p The graphs of quadratic equations will always have a “curved” shape like the one we saw before. This shape is called a #[strong Parabola].

  p The simplest quadratic function is just #[em y] = #[em x]#[sup 2]. If we plot this on a diagram, we get a simple, upward pointing parabola:

  x-coordinate-system(x="-5 5 1" y="-1 7 1" fn="x^2")

  p In the following sections we will learn many different ways to solve quadratic equations and interpret their graphs.


section
  h2 Factorising

  p.todo Here is a simple term containing the product of two sums. To simplify it, we have to match up all possible terms and add them up:

  p.text-center (#[mi x]#[mo +]5)#[mo ×](2#[mi x]#[mo –]1)#[mo =]#[mi x]#[mo ×]2#[mi x]#[mo +]#[mi x]#[mo ×]#[mo +]

  p.todo The result


section
  h2 Completing the Square

  p.todo In some cases, factorising doesn't work: there simply aren't any


section
  h2 The Quadratic Formula

  p.todo text


section
  h2 Geometric interpretation

  p Let’s now design a small skate park, to try out our new SquareBoads. We’ve got 50m of fence, as well as two existing walls we can use to enclose the area – and of course we want to make it as large as possible.

  p.todo interactive diagram

  p If we call the horizontal part of the fence #[em x], then the vertical part has length #[x-equation.var(vars="x", fns="+ -")]. The total area of the skate park is

  p.text-center #[mi A]#[mo =]#[x-equation.var(vars="x", fns="+ -")]

  p Once again, we have a quadratic equation! Except, rather than solving it, we want to find it’s #[em maximum].

  p.todo Diagram, numeric solution

  p.todo Scheitelpunktform und Grundform

  .box.problem-box
    .box-title: h3 Finding maxima and minima of quadratic functions
    .box-body
      p.todo Exercises under development…

  p.todo Nullstellen

  .box.problem-box
    .box-title: h3 Finding the zeros of quadratic functions
    .box-body
      p.todo Exercises under development…


section
  h2 Projectile Motion

  p Having used quadratic equations to create the optimal business plan for our Skateboard company, and to design the largest possible skate park, now lets actually XXX.

  p When practicing jumps and tricks, it is important to understand how gravity

  p.todo skateboarding image

  p Let’s start with a simple example: a ball is thrown straight up into the air, with an initial speed of 50m/s. Using the laws of physics, we can predict the motion of the ball, and the time it will take for the ball to fall back on the ground.

  p Once in the air, gravity pulls the ball back towards the ground. This force causes the ball’s speed to change by a fixed amount every second: approximately -10m/s#[sup 2]. We use a negative value, because gravity acts downwards. Since we know the initial speed of the ball, we can easily calculate the speed after every subsequent second.

  p Speed, on the other hand, is the rate of change of position. The ball started at a height 0 when we threw it, and we can calculate its height after every subsequent second by adding the speed at that time.

  p.todo. table
    time             0    1s    2s    3s    4s    5s    6s    7s    8s    9s
    acceleration   -10   -10   -10   -10   -10   -10   -10   -10   -10   -10
    speed           50    40    30    20    10     0   -10   -20   -30   -40
    position         0    50    90   120   140   150   150   140   120    90

  p Notice how the height of the ball increases quickly, then slows down, and then decreases, as it falls back towards the ground. Let’s visualise this motion in a diagram:

  p.todo diagram

  p This shape looks just like a parabola. If we ignore things like air resistance, then all objects we throw into the air follow a parabolic path: including basketballs, jets of water, or even rockets.

  p.todo example images


section
  h2 More Applications

  p Many equations in physics or economics contain multiplication, and these multiplications often lead to squares. That’s why it should come at no surprise that our world is full of quadratic equations and parabolas. Here are a few more examples:

  h3 Mirrors and Telescopes

  p.todo In a parabolic mirror, incoming light rays are all reflected onto a single point in the center. This curious property can be used when building radio telescopes, where the receiver is placed in the focus, or thermal solar power plants, which focus the suns' rays onto a single point to create a lot of heat.

  p.todo The actual shape of this telescope is called a Paraboloid – it is basically a 3-dimensional version of a parabola.

  p.todo Even the TV dishes at your home have a paraboloid shape. They focus the incoming radio waves onto the small receiver in its center.

  h3 Bridges

  p.todo In many suspension bridges the main suspension cables form a parabola. One famous example is the Golden Gate Bridge in San Francisco:

  p.todo Suspension bridges can span especially long distances, and are relatively economical to build.

  p.todo The suspension cables carry the huge weight of the deck of the bridge, as well as all the traffic travelling across it. This causes large tension and compression forces, and the parabola is the best shape to balance these forces equally.

  h3 Conic Sections

  p.todo The parabola is one of four different shapes that can be created by cutting a slice through a cone:

  p.todo These four shapes, called conic sections, have many properties in common, even though the look very different. The circle and ellipse, for example, are closed, which the parabola and hyperbola are open and infinite.

  p Quadratic equations are hidden everywhere in our world. Can you think of any other examples?



  //- hello
    Factorisation
    Slide 1
    Let's start by revising how to simplify terms with brackets. For example
    x (2x + 3)  =  2x2 + 3x
    and similarly
    (x - 1) (x + 5)  =  x2 - x + 5x - 5  =  x2 + 4x - 5
    The trick is simply to add up all possible pairs of numbers, while taking care to respect all minus signs:
    Try to expand this product and simplify the answer:
    (x + 5) (x - 2)
    Number input interactive:
    Solution: x2 + 3x - 10
    Slide 2
    This answer looks like part of a quadratic equation, and we can invert our work to solve quadratic equations:
    x2 + 3x - 10 = 0
    is the same as (x + 5) (x - 2) = 0
    And now comes the clever part: if the product of two numbers is 0, then at least one of these numbers has to be zero. If both are non-zero, then the product is also always non-zero. This means that
    either    (x + 5) = 0     or     (x - 2) = 0
    And thus the solution of the quadratic equation is either x = 2 or x = -5.
    It is interesting to observe that quadratic equations, unlike linear equations, can have (up to) two solutions, and you have to find both to solve the equation. Here is a summary of what we've done:
    Start with a quadratic equation like x2 + 3x - 10 = 0
    Find a way to write the equation as a product of two terms:  (x + 5) (x - 2) = 0
    The product is 0, so one of the two factors has to be zero: (x + 5) = 0 or (x - 2) = 0
    These are now both linear equations which we can solve: x = -5 or x = 2.
    Slide 3
    Try to find the missing number in these factorisation examples:
    x2 + 3x + 2 = (x + 1) (x + __)
    x2 + 5x + 4 = (x + 4) (x + __)
    x2 - 8x + 15 = (x - 3) (x - __)
    x2 - 5x - 14 = (x + 2) (x - __)
    Multiple choice interactive:
    Solutions: 2, 1, 5, 7
    Slide 4
    The difficult part when factorising these quadratic equations is finding two numbers that work. However there is a simple pattern:
    (x + A) (x + B) = x2 + (A + B)x + (A × B)
    This means that if we have a quadratic equation x2 + Px + Q then we have to find two numbers A and B so that P = A + B and Q = A × B.
    For example, in our original example we had x2 + 3x - 10 = (x + 5) (x - 2). We can see that
    5 - 2 = 3 and 5 × (-2) = -10.
    Finding A and B can take some guesswork, but with a bit of practice it becomes quite easy. Try factorising these examples:
    TODO EXERCISES
    Slide 5
    TODO SPECIAL CASES:
    x2 - 16 = 0
    x2 + 4x = 0
    x2 + 2x + 1 = 0
    Slide 6
    TODO NON-1 COEFFICIENTS:
    4x2 + 2x + 3 = 0
    Slide 7
    TODO MIXED EXERCISES
    Completing the Square
    Slide 1
    In some cases, it is impossible to solve quadratic equations using factorisation. In that case we can use a different method which is more difficult, but which always works. We use the expansion
    (x + y)2 = x2 + 2xy + y2
    Suppose we have a quadratic equation
      x2 + 6x - 12 = 0
    Let's write this slightly differently:
      x2 + 2x × 3 - 12 = 0
    The first part looks a bit like the expansion above, with y = 3. However we'd need another + 32, and instead we have -12. However, we could just add 32 ourself, and the subtract it again:
      x2 + 2x × 3 + 32 - 32 - 12 = 0
    Now we have everything we need to factorise the first part of this equation:
    (x + 3)2 - 32 - 12 = 0
    This already looks much better, and we can simplify further:
    (x + 3)2 - 9 - 12 = 0
    (x + 3)2 - 21 = 0
    (x + 3)2 = 21
    Now it gets interesting: while we could just  take the square root on either side of the equation, it's not quite that simple. If we square a number, we lose information about whether it was positive or negative. For example, 52 = 25 but (-5)2 = 25 also. When taking the square root, we have to account for the fact that the result could have been positive or negative:
    x + 3 = ±√21
    The symbol ± ("plus-minus") basically means that we have two possible equations: x + 3 = +√21 as well as x + 3 = -√21.
    And if we subtract 3 on both sides of the equation, we are left with
    x = -3 ± √21
    Using a calculator, we find that either x = -3 + √21 = 1.58 or x = -3 - √21 = -7.58. Notice that, like before, we have two different solutions for x.
    Slide 2
    TODO: EXERCISES
    Slide 3
    TODO: SPECIAL CASES
    ONE SOLUTION
    NO SOLUTION
    The Quadratic Formula
    Slide 1
    In the previous section we learned how to solve any quadratic equation by completing the square. However that was sometimes quite difficult, even though the steps were always exactly the same. Instead, we want to find a single, simple formula that would allow us to do the same.
    Imagine we have a quadratic equation
    ax2 + bx + c = 0.
    Here, a, b and c could be any numbers like before, however we will leave them as variables for now. The plan is to solve the equation like this, with a, b and c, to get a general solution. Then we can substitute the actual values of a, b and c into this result, to find the solution of any quadratic equation.
    If this doesn't quite make sense, don't worry - it will soon!
    Slide 2
    Let's start by dividing by a, so that x2 is on its own:
    ax2 + bx + c = 0.
    x2+bax+ca=0
    Like before, we have to complete the square by adding b2a2, and the subtracting it again:
    x2+bax+b2a2-b2a2+ca=0
    The first part of this equation is just the expanded version of x+b2a2, so we have
    x+b2a2-b2a2+ca=0
    Now we can solve for x like before:
    x+b2a2=b2a2-ca
    Remember that, when taking the square root, the result could be positive or negative. We use the symbol ±, which really means we have two possible solutions: one with + and one with -.
    x+b2a=b2a2-ca
    So, finally, we have that
    x=-b2ab2a2-ca
    Slide 3
    Let's have a look at an example:
