// =============================================================================
// Triangles and Trigonometry
// (c) Mathigon
// =============================================================================


@import "styles/variables";

@media screen and (min-width: 680px) { .shift-1 { margin-top: -70px !important; } }

.space { display: inline-block; width: 20px; }

.mountain {
  background: white;
  z-index: 100;
  box-shadow: 0 0 30px 10px white;
}

.task {
  color: @blue;
  border-bottom: 1px solid @blue;
  padding-bottom: .5em;
  margin-bottom: .7em;
  font-weight: 600;
}

.middle {
  width:300px;
  height: 300px;
  top: calc(~"50vh - 150px");
}

// -----------------------------------------------------------------------------

#triangle-inequality {
  .labels text { font-weight: 600; }
  .item { .clearfix(); margin-bottom: 12px; }
  .check { float: right; margin: 6px; }
}

.t-num {
  font-size: 22px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  transition: background .2s, color .2s;
  float: left;
  margin-right: 1px;
  background: @grey-background;

  &:first-child { border-radius: 18px 0 0 18px; }
  &:nth-child(3) { border-radius: 0 18px 18px 0; }
}

.t-num.correct { background: mix(@green, @grey-background); }
.item.correct .t-num { background: @green; color: white; }

#inequality-picker x-picker { flex-wrap: wrap; justify-content: center; }
#inequality-picker .item { width: 120px; border: none; margin: 8px; }

.hover-target { .inline-hover(mix(@green, white, 60%)); }

// -----------------------------------------------------------------------------
