//- ============================================================================
//- Mathigon | Divisibility and Primes Content
//- (c) 2016 Mathigon
//- ============================================================================


include ../mixins

section
  h2 Introduction



