x-select.tabs
  for i, index in 'P1,P2,P3,P4,P6,PM,PMM,P4M,P6M,P3M1,P31M,P4G,CMM,PMG,PG,CM,PGG'.split(',')
    .group(data-value=i)= index + 1
canvas(width=1920 height=1280)
x-select.colours
  for i in [1, 2, 3, 4, 5, 6, 7, 8]
    .colour
.btn-row
  button.icon-btn.save(title="Download image"): x-icon(name="download")
  button.icon-btn.clear(title="Clear canvas"): x-icon(name="restart")
