// =============================================================================
// 3D Solids
// (c) Mathigon
// =============================================================================


@import "../shared/variables";

x-voxel-painter {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  max-width: 100%;
}
