// =============================================================================
// Circles and Pi
// (c) Mathigon
// =============================================================================


@import "styles/variables";


.pi-box {
  height: 300px;
  overflow: scroll;
  p { word-wrap: break-word; }
}

.circle-area path {
  stroke: white;
  stroke-width: 1.5px;
}

.circle-area.red path {
  fill: @red;
  &:nth-child(2n) { fill: darken(@red, 10%); }
}

.circle-area.yellow path {
  fill: @yellow;
  &:nth-child(2n) { fill: darken(@yellow, 10%); }
}

x-conic-section {
  display: block;
  margin: 2em auto;
}
