// =============================================================================
// Logic
// (c) Mathigon
// =============================================================================


@import "../../node_modules/@mathigon/studio/frontend/styles/variables";
