// =============================================================================
// Non-Euclidean Geometry
// (c) Mathigon
// =============================================================================


@import "../../node_modules/@mathigon/studio/frontend/styles/variables";
@import "../shared/components/buckets/buckets";

.pp {
  width: 100%;
  height: 440px;
  border: none;
  margin: 1.5em auto;
}

x-buckets {
  .bucket:nth-child(1) { background: mix($orange, $grey-background, 85%); }
  .bucket:nth-child(2) { background: mix($teal, $grey-background, 85%); }
  .bucket:nth-child(3) { background: mix($purple, $grey-background, 85%); }
}

nav { display: none; }
