// =============================================================================
// Exponentials and Logarithms
// (c) Mathigon
// =============================================================================


@import "styles/variables";

.text-wrap {
  display: block;
  float: right;
  shape-margin: 24px;
  margin: 0 0 24px 24px;
  @media (max-width: 560px) { float: none !important; margin: 0 auto 1em; }
}

.money-grid td {
  width: 100px;
  padding: 2px 10px;
}
