// =============================================================================
// Fractals
// (c) Mathigon
// =============================================================================


@import "../shared/variables";


// -----------------------------------------------------------------------------
// Introduction

.fractal-overlay {
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  transition: opacity .4s;
  pointer-events: none;
  x-step.focus & { opacity: 0.85; }
}

svg.var {
  .red { fill: @red; }
  .blue { fill: @blue; }
  .white { fill: white; }
  .overlay { fill: white; opacity: 0; transition: opacity .2s; }
  .overlay.focus { opacity: 0.9; }
}

.sierpinski {
  overflow: visible;
  g { transition: transform .3s, fill .3s }
  .focus & .t1 { transform: translate(10px, 5px); fill: @blue; }
  .focus & .t2 { transform: translate(-10px, 5px); fill: @green; }
  .focus & .t3 { transform: translate(0, -10px); fill: @yellow; }
}

x-menger-sponge { display: block; }
x-menger-sponge canvas { width: 100%; height: auto; }

.coastline {
  path { fill: @medium-grey; }
  line { stroke: @yellow; stroke-width: 6px; stroke-linecap: square;}
  line.border { stroke: mix(@orange, @grey); stroke-width: 10px; }
}


// -----------------------------------------------------------------------------
// Sierpinski Triangle

.pascal-grid {
  position: relative;
  user-select: none;

  .r { display: flex; justify-content: center; }

  .c {
    cursor: pointer;
    width: 28px;
    font-size: 10px;
    background: #ddd;
    margin: 1px;
    text-align: center;
    position: relative;
    line-height: 16px;
    border-radius: 3px;
    transition: color .4s, background .4s;
    box-shadow: inset 0 -1px fade(black, 30%);
    padding-bottom: 1px;
    .small { font-size: 8px; line-height: 8px; }
    &.red { color: white; background: @red; cursor: default; }
  }
}

.cellular-grid {
  rect { stroke: @grey; fill: white; }
  rect.on { fill: @grey; }
}


// -----------------------------------------------------------------------------
// Mandelbrot Set

.sequence-cell { background: mix(@blue, white, 10%); border-radius: 6px;
  padding: 16px 12px; text-align: center; }

.vdots { transform: rotate(90deg); display: inline-block; margin-left: 15px; }

.mandel-frame {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  padding-bottom: 65.79%;
  img { .fillParent(); }
  .scale { position: absolute; left: 50%; bottom: 8px; background: fade(black, 50%);
    color: white; border: 1px solid white; border-radius: 20px; line-height: 24px;
    font-size: 16px; padding: 0 14px; transform: translateX(-50%); }
}

x-geopad img { transition: opacity .2s; }
.focus x-geopad img { opacity: 0.2; }
