doctype html
html
  head
    meta(charset="utf-8")
    title Mathigon Development Server
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400i,600i', rel='stylesheet', type='text/css')

    style.
      html, body { margin: 0; height: 100%; width: 100%; display: flex; background: #242436; justify-content: center; align-items: center; font-family: "Source Sans Pro", sans-serif; color: white; text-align: center; }
      svg { margin: 0 auto; display: block; }
      h1 { font-size: 44px; }
      h2 { font-size: 32px; margin-top: -24px; font-weight: 400; opacity: 0.6; }
      a { display: inline-block; background: #ccc; border-radius: 4px; padding: 8px 12px; color: #242436; }
      a:hover { background: #aaa; }

  body
    #body
      svg(viewBox="0 0 180 180", class="icon", width=180, height=180)
        use(xlink:href="/icons.svg#logo")
      h1 Mathigon
      h2 Development Server
      p: a(href="https://github.com/mathigon/textbooks" target="_blank") Documentation
