template#enigma
  .enigma
    .lightboard
      for key in 'qwertyuiopasdfghjklzxcvbnm'.split('')
        .key= key

    .keyboard
      for key in 'qwertyuiopasdfghjklzxcvbnm'.split('')
        .key= key
