x-vigenere-cipher {
  .line {
    stroke: $light-grey; stroke-width: 1;
    
    &.guideline {
      stroke: $dark-grey;
    }
  }
  .letter {
    font-size: 16px; text-anchor: middle; dominant-baseline: central; font-family: monospace; transform: translateY(1px);

    &.guide { 
      font-weight: bold;
    }
  }
}