// =============================================================================
// Matrices
// (c) Mathigon
// =============================================================================

@import "../shared/variables";

.cubes {
    .clearfix();
    .cube { display: block; float: left; margin: 10px; }
}

x-geopad .paths .fabric {
    stroke-width: 1px;
}

.light {
    opacity: 50%;
}