// =============================================================================
// Codes and Ciphers
// (c) Mathigon
// =============================================================================


@use "sass:math";
@import "@mathigon/studio/frontend/styles/variables";
@import "./components/enigma";
@import "./components/code-box";


// -----------------------------------------------------------------------------
// Introduction

.window {
  cursor: pointer;
  margin-top: -6px !important;
  .flash { position: absolute; top: 60px; left: 34px; opacity: 0; transition: opacity .2s; }
  &.pressed .flash { opacity: 1; }
}

@keyframes electrons {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 12px; }
}

.telegraph {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

  .handle, .fg, svg { position: absolute; top: 0; left: 0; }
  .handle { transition: transform .2s; transform-origin: 115px 75px; }

  path { transition: opacity .2s; opacity: 0; stroke-width: 6px; stroke: $red;
    stroke-dasharray: 0 12px; fill: none; stroke-linecap: round;
    animation: electrons infinite .5s linear; }

  &.pressed .handle { transform: rotate(3.6deg); }
  &.pressed path { opacity: 1; }
}

.satellites {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

  .sat, .atm, .bits, svg { position: absolute; top: 0; left: 0; }

  .bits { transform: scale(math.div(640, 1024), math.div(420, 666)); }

  line { transition: opacity .2s; opacity: 0; stroke-width: 6px; stroke: $red;
    stroke-dasharray: 0 12px; fill: none; stroke-linecap: round;
    animation: electrons infinite .5s linear; }

  &.pressed line { opacity: 1; }
}

.alphabet {
  column-count: 4;
  margin: 1.5em 24px;
  line-height: 1.4;
  strong { display: inline-block; width: 30px; }
  @media (max-width: 660px) { column-count: 3; }
  @media (max-width: 480px) { column-count: 2; }
}

.radio-play {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 162px;
  left: 142px;
  transition: transform .2s, box-shadow .2s;
  background: url(/content/codes/images/radio-play.png);
  background-size: 40px 40px;
  cursor: pointer;
  border-radius: 20px;
  &:hover { transform: scale(1.16); box-shadow: 0 0 10px $red; }
  &:active { transform: scale(1.06); }
  &.playing { background-image: url(/content/codes/images/radio-pause.png); }
}

.flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5em 0;
  > div { width: 90px; margin: 5px; }
  img { display: block; margin: 0 auto; }
  strong { display: block; text-align: center; color: $text-dark; }
}

x-morse, .morse {
  .dot, .dash { display: inline-block; background: currentColor; height: 6px; margin: 0 2px 3px; border-radius: 3px; }
  .dot { width: 6px; }
  .dash { width: 18px; }
}

x-morse {
  cursor: pointer;
  &:hover, &:focus { color: $blue; outline: none; }
  &:focus { box-shadow: 0 0 0 2px $blue; border-radius: 4px; }
}

x-code-box .morse > span {
  display: inline-block;  // Prevent wrapping within morse code...
  margin-right: 12px;
  &:hover, &.hover { margin-right: 9px; }
}

.capitol-light {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: red;
  box-shadow: 0 0 5px 3px red;
  left: 101px;
  top: 8px;
}

.beatles {
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 1px 3px 10px rgba(black, 10%);
}


// -----------------------------------------------------------------------------
// Introduction

.bracket line {stroke: black}

.xyz {
  background: $red;
  color: white;
}

.n {
  display: inline-block;
  width: 44px;
  text-align: center;
  color: white;
  height: 26px;
  line-height: 26px;
  position: relative;
  margin: 16px 2px;
  font-style: normal;
  white-space: nowrap;

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 13px solid;
  }

  .s-wide { width: 80px; height: 30px; margin: 18px 3px; line-height: 30px; }
  .s-wide:before, & .s-wide:after { border-width: 0 25px 15px 25px; }

  &:before { top: -13px; }
  &:after { transform: rotate(180deg); bottom: -13px; }

  .s-grey & { background: $grey; }
  .s-grey &:before, .s-grey &:after { border-bottom-color: $grey; }

  .s-orange & { background: $orange; }
  .s-orange &:before, .s-orange &:after { border-bottom-color: $orange; }

  .s-purple & { background: $purple; }
  .s-purple &:before, .s-purple &:after { border-bottom-color: $purple; }
  .s-purple &.z{ background: mix($purple, white); }
  .s-purple &.z:before, .s-purple &.z:after { border-bottom-color: mix($purple, white); }

  .s-teal & { background: $teal; }
  .s-teal &:before, .s-teal &:after { border-bottom-color: $teal; }
  .s-teal &.z { background: mix($teal, white); }
  .s-teal &.z:before, .s-teal &.z:after { border-bottom-color: mix($teal, white); }

  .s-lime & { background: $lime; }
  .s-lime &:before, .s-lime &:after { border-bottom-color: $lime; }

  .s-red & { background: $red; }
  .s-red &:before, .s-red &:after { border-bottom-color: $red; }

  .s-blue & { background: $blue; }
  .s-blue &:before, .s-blue &:after { border-bottom-color: $blue; }

  .s-green & { background: $green; }
  .s-green &:before, .s-green &:after { border-bottom-color: $green; }

  .s-yellow & { background: $yellow; }
  .s-yellow &:before, .s-yellow &:after { border-bottom-color: $yellow; }
  .s-yellow &.z { background: mix($yellow, white); }
  .s-yellow &.z:before, .s-yellow &.z:after { border-bottom-color: mix($yellow, white); }

  x-blank { display: block; margin: 1px 3px; max-width: 120px; }
  x-blank .target { display: block; margin: 0; height: 24px; box-shadow: 0 0 0 1px rgba(white, 75%); }
  x-blank input { min-width: 0; display: block; width: 100%; height: 24px; }
  x-blank.done, x-blank.done .target { display: inline; line-height: inherit; box-shadow: none; color: white; }
}

// modified from divisibility
.ns {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  min-width: 20px;
  padding: 0 5px;
  border-radius: 5px;
  background: $red;
  color: white;
  position: relative;

  &.b { background: $blue; }
  &.g { background: $green; }
  &.y { background: $yellow; }

  .s-purple & { background: $purple; }
  .s-yellow & { background: $yellow; }
  .s-teal & { background: $teal; }

  &.lb { background: rgba($blue, 40%); }
  &.lg { background: rgba($green, 40%); }
  &.ly { background: rgba($yellow, 40%); }
  &.lbg { background: linear-gradient(to bottom right, rgba($blue, 40%) 50%, rgba($green, 40%) 50%); }

  &.small { padding: 0; width: 24px; line-height: 24px; font-size: 1em; margin: -6px 1px; }

  &.blue.cross { position: relative; background: rgba($blue, 30%); }
  &.cross:after {
    content: "";
    width: 150%;
    height: 2px;
    background: #c00;
    position: absolute;
    left: -25%;
    top: 50%;
    transform: rotate(-45deg);
    margin-top: -1px;
  }

  &.legs:before, &.legs:after {
    content: " ";
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background: $light-grey;
  }
  &.legs:before { transform: rotate(-45deg); top: 37px; right: 21px; }
  &.legs:after { transform: rotate(45deg); top: 37px; left: 21px; }

  &.legs.b:before { transform: rotate(-30deg); top: 33px; right: 24px; }
  &.legs.a:after { transform: rotate(30deg); top: 33px; left: 24px; }
}

// copied from divisibility
.number-grid {
  max-width: 560px;
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  .stage & { margin-bottom: 32px; }

  @media (max-width: 620px) { max-width: 440px; }
  @media (max-width: 500px) { max-width: 360px; }
  @media (max-width: 420px) { max-width: 280px; }

  &.ulam-grid {
    max-width: 392px;
    @media (max-width: 620px) { max-width: 310px; }
    @media (max-width: 500px) { max-width: 252px; }
    @media (max-width: 420px) { max-width: 198px; }
  }
}

// copied from divisibility
.number-cell {
  width: 56px;
  height: 56px;
  line-height: 56px;
  margin: 6px;
  background: $light-grey;
  text-align: center;
  font-size: 20px;
  border-radius: 10%;
  position: relative;
  transition: color .2s, background .2s, opacity .4s, box-shadow .8s;

  @media (max-width: 620px) { width: 36px; height: 36px; line-height: 36px; margin: 4px; font-size: 18px; }
  @media (max-width: 500px) { width: 30px; height: 30px; line-height: 30px; margin: 3px; font-size: 16px; }
  @media (max-width: 420px) { width: 24px; height: 24px; line-height: 24px; margin: 2px; font-size: 12px; }

  &.off { opacity: 0.05; }

  &.red { color: white; background: $red; }
  &.blue { color: white; background: $blue; }
  &.green { color: white; background: $green; }
  &.yellow { color: white; background: $yellow; }
  &.purple {color: white; background: $purple}
  &.l-purple-yellow { background: linear-gradient(to bottom right, rgba($purple, 40%) 50%, rgba($yellow, 40%) 50%); }
  &.purple-yellow { color: white;
    background: linear-gradient(to bottom left,
      rgba($yellow, 40%) 10%,
      rgba($purple, 40%) 90%); } // i  have no idea how this works lol. oh well
  &.green-yellow { color: white;
    background: linear-gradient(to bottom left,
      rgba($yellow, 40%) 10%,
      rgba($green, 40%) 90%); } // i  have no idea how this works lol. oh well

  #divisibility6 &.blue.yellow { background: linear-gradient(to bottom right, $blue 50%, $yellow 50%); }
  #divisibility6 &.blue.yellow.green { box-shadow: inset 0 0 0 30px $green; }
}

// copied from divisibility
.number-badge {
  font-size: 15px;
  line-height: 22px;
  width: 22px;
  position: absolute;
  background: $grey;
  border-radius: 100%;
  top: -7px;
  right: -7px;
  color: white;
  display: none;

  @media (max-width: 500px) { width: 18px; line-height: 18px; top: -6px; right: -6px; font-size: 12px; }
}

// copied from graph theory
select {
  @include button();
  background: $dark-grey icon('dropdown', #4d4d4d) no-repeat right 10px top 14px;
  background-size: 15px 8px;
  padding: 0 36px 0 1em;
  height: 2em;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: .2px;
  appearance: none;
  &:hover, &:focus, &:active { background-color: lighten($dark-grey, 15%); }
}

.appear, .switch {
  background: lighten($grey, 15%);
  border-radius: 4px;
  width: 120px;
  height: 32px;
  padding: 8px;
  margin: 6px;
  line-height: 32px;
  font-size: 24px;
  color: white;
  text-align: center;
  box-shadow: 0 3px 0 $dark-grey;
  cursor: pointer;
}

.bin-finger .caption {
  text-align: center;
  font-size: large;
}

.focus .bracket g text:not(.focus),
.focus .bracket g line:not(.focus) {
  opacity: 0.1;
}


// -----------------------------------------------------------------------------
// Error Detection

x-barcode {

  margin: 1em auto;
  top: 44px;
  position: sticky;

  svg { background-color: $yellow; }

  rect.black { fill: $dark-grey; transition: opacity .2s }
  rect.white { fill: #ffffff; transition: opacity .2s }

  .focus & rect { opacity: 0.2; }
  .focus & .focus rect { opacity: 1; }

  .focus & text { opacity: 0.2 }
  .focus &  text.focus { opacity: 1; }
}

x-barcode { overflow: hidden; }
x-barcode svg { margin: 0 auto 32px; transition: transform .4s linear; }


@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0.1 }
}

@keyframes fadeIn {
  0% { opacity: 0.1; }
  100% { opacity: 1; }
}

x-hamming {
  g.dim {
    opacity: 0.1;
    animation: fadeOut 1000ms;
  }

  g.bold {
    opacity: 1;
    animation: fadeIn 1000ms;
  }
}


x-hamming {
  .focus & g.focus { opacity: 1; }

  .focus & g:not(.focus) {
    opacity: 0.1;
    animation: fadeOut 400ms;
  }
}

// -----------------------------------------------------------------------------
// Secret Codes

.parchment {
  max-width: 540px;
  margin: 1em auto;
  position: relative;
  padding: 16px 12px;
  text-align: center;
  font-style: italic;
  color: rgba(0,0,0,0.7);

  background-color: #f8f5de;
  background-image: linear-gradient(to right, rgba(255,210,0,0.3), transparent 30%, rgba(200,160,0,0.1) 65%);
  box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 30px rgba(220,120,0,0.8);

  &:before, &:after {
    content: ""; height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%,
      30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%
      100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
  }
  &:before { background-color: white; top: 0; }
  &:after { background-color: #f0c77f; bottom: -2px; }
}

.caesar-wheel {
  float: right;
  width: 380px;
  height: 380px;
  border-radius: 100%;
  shape-outside: circle(190px);
  margin: 0 0 1em 1em;
  box-shadow: 2px 10px 30px rgba(0,0,0,0.4);
  position: relative;
  touch-action: none;

  @media screen and (min-width: 1000px) { margin-right: -80px; }
  @media screen and (max-width: 640px) { float: none; margin: 1em auto; }

  circle { fill: $yellow; }
}
