// =============================================================================
// Ellipse Drawing Component
// (c) Mathigon
// =============================================================================


@import "../../shared/variables";


x-ellipse-drawing {

  width: 100%;
  display: block;

  svg {
    cursor: url('images/pencil-cursor.png'), pointer;
    margin: auto;
    background-color: rgb(247, 247, 248);

    &.dragging-pin,
    &.dragging-pin .pin {
      cursor: grabbing;
    }
    
    .band {
      stroke-width: 3px;
      stroke: rgb(157, 11, 78);
      fill: none;
    }

    .pin {
      cursor: grab;
      fill: rgb(34, 171, 36);
      transition: transform 100ms;
      &:hover {
        transform: scale(2);
      }
    }
    &.dragging-pin-0 .pin-0,
    &.dragging-pin-1 .pin-1 {
      transform: scale(2);
    }

    path.shadow {
      stroke-width: 3px;
      stroke: rgb(200, 200, 200);
      fill: none;
    }
    circle.shadow {
      fill: rgb(200, 200, 200);
    }

    .trail {
      stroke-width: 2px;
      stroke: rgba(0, 0, 0, 0.4);
      fill: none;
      transition: opacity 1s;
    }
  }
}
