// =============================================================================
// Ellipse Drawing Component
// (c) Mathigon
// =============================================================================


@import "../../shared/variables";


x-ellipse-drawing {

  width: 100%;
  display: block;

  svg {
    cursor: url('images/pencil-cursor.png'), pointer;
    margin: auto;
    background-color: rgb(247, 247, 248);
    
    .band {
      stroke-width: 3px;
      stroke: rgb(157, 11, 78);
      fill: none;
    }

    .pin {
      cursor: move;
      fill: rgb(34, 171, 36);
    }

    path.shadow {
      stroke-width: 3px;
      stroke: rgb(200, 200, 200);
      fill: none;
    }
    circle.shadow {
      fill: rgb(200, 200, 200);
    }

    .trail {
      stroke-width: 2px;
      stroke: rgba(0, 0, 0, 0.1);
      fill: none;
    }
  }
}
