// =============================================================================
// Binary Choice Component Styles
// (c) Mathigon
// =============================================================================


x-ab {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 1.5em 0;

	h3 { text-transform: uppercase; color: #aaa; font-size: 22px; margin-top: 0; }

	.stack {
		height: 260px;
		width: 220px;
		position: relative;
		margin: 20px auto;
		border-radius: 8px;
		background: @grey-background;
	}
	.option .stack .card-wrap { z-index: 10; }

	.card-wrap {
		position: absolute;
		top: 0;
		left: 0;
		&.active { cursor: grab; }
		&.dragging { z-index: 20; }
	}

	.card {
		color: white;
		height: 260px;
		width: 220px;
		border-radius: 8px;
		padding: 16px;
		box-sizing: border-box;
		text-align: center;
		transition: box-shadow .2s, transform .2s;

		&.c-red { background: @red; }
		&.c-orange { background: @orange; }
		&.c-yellow { background: @yellow; }
		&.c-lime { background: @lime; }
		&.c-green { background: @green; }
		&.c-teal { background: @teal; }
		&.c-blue { background: @blue; }
		&.c-purple { background: @purple; }
	}

	.option .card { box-shadow: 0 0 4px fade(black, 10%); }
	.card-wrap.active .card { transform: scale(1.1); box-shadow: 0 2px 10px fade(black, 25%); }
	.card-wrap.dragging .card { transform: scale(1.2); box-shadow: 0 5px 20px fade(black, 45%); }
}
