
x-ab {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 1em;
}

x-ab > div {
	grid-row: 1;
}

.a-or-b {
	border: 2px dashed rgb(255, 0, 76);
}

#a-box {
	grid-column: 3;
}

#b-box {
	grid-column: 1;
}

.cards {
	grid-column: 2;
}

.stack, .card, .card::after {
	height: 200px;
	width: 150px;
}

.stack {
	margin: 20px auto;
	position: relative;
}

.card {
	display: table;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	width: 150px;
	border-radius: 8px;
	transition-property: transform, box-shadow;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:last-child, .move-candidate .card:nth-last-child(2) {
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
	cursor: grab;
}

.card:not(.top-card), .card.placing, .card.locked {
	pointer-events: none;
	cursor: not-allowed;
}

.card p {
	display: table-cell;
	vertical-align: middle;
	padding: 0 25px;
}

.card:hover, .card.active {
	box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
	transform: scale(1.1);
	z-index: 1000;
}

.card.active {
	cursor: grabbing;
}

.card.active, .card.placing {
	z-index: 1001;
}
