// =============================================================================
// Exponentials and Logarithms
// (c) Mathigon
// =============================================================================


@import "styles/variables";

.col-grid tr:first-child td {
  padding: 0  .6em;
  border: 0;
}
.col {
  background: @yellow;
  height: 100px;
  width: 50px;
  margin: 0 auto;
  transform-origin: center bottom;
  transition: opacity .6s, transform 1s;
  box-shadow: 0 0 8px 1px fade(@yellow, 50%);

  &.c1 { opacity: 0; }
  &.c2 { opacity: 0; height: 50px; margin-top: 50px; }
  &.c3 { opacity: 0; height: 25px; margin-top: 75px; }
  &.c4 { opacity: 0; height: 12.5px; margin-top: 87.5px; }

  &.on { opacity: 1; transform: scaleY(0.5); }
}
