// =============================================================================
// CBM Demo
// (c) Mathigon
// =============================================================================


@import "@mathigon/studio/frontend/styles/variables";
@import "../shared/components/buckets/buckets";


x-buckets {
  .input { width: 230px; }
  .bucket { width: 300px; }
  .bucket:nth-child(1) { background: mix($orange, $grey-background, 85%); }
  .bucket:nth-child(2) { background: mix($purple, $grey-background, 85%); }
}

iframe.wolfram { margin: 1.5em auto; display: block; }
