// =============================================================================
// Triangles and Trigonometry
// (c) Mathigon
// =============================================================================


@import "@mathigon/studio/frontend/styles/variables";

@media screen and (min-width: 680px) { .shift-1 { margin-top: -70px !important; } }

.space { display: inline-block; width: 20px; }

.mountain {
  @include theme(background, white, $dark-mode);
  @include theme(box-shadow, 0 0 30px 10px white, 0 0 30px 10px $dark-mode);
  z-index: 100;
}

.task {
  color: $blue;
  border-bottom: 2px solid $blue;
  padding-bottom: .5em;
  margin-bottom: .7em;
  font-weight: 600;
}

.middle {
  width:300px;
  height: 300px;
  top: calc(50vh - 150px);
}

// -----------------------------------------------------------------------------

.theorem .row.padded { margin: -1em -24px -1em; }
.theorem svg { overflow: visible; }

#pythagoras-proof {
  x-geopad { background: transparent; position: relative; stroke-linejoin: round; }
  .tri { fill: mix($blue, $grey-background); }
  &.focus .tri:not(.focus) { fill: mix($blue, $grey-background, 10%); }
  .square { fill: mix($red, $grey-background); }
  &.focus .square:not(.focus) { fill: mix($red, $grey-background, 10%); }

  .label {
    position: absolute;
    transform: translate(-50%,-50%) scale(0.4);
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity .5s, transform .5s;
    &.visible { opacity: 1; transform: translate(-50%, -50%) scale(1); transition-timing-function: linear, $bounce; }
  }

  .similar-triangle .light { opacity: 0.2; }
}

.proof-table {
  .pill { border-radius: 12px; margin-bottom: 6px; }
  .pill mfrac { margin: .2em 0; }
  p { margin-bottom: 8px !important; }
}

#pythagorean-triples-grid {
  circle.move { fill: $blue; transition: r .2s; }
  .thick { stroke: $blue; transition: none; }
  .label {
    position: absolute;
    background: $blue;
    border-radius: 4px;
    color: white;
    padding: 1px 8px;
    transform: translate(-50%, -50%);
  }

  .triple circle.move { fill: $green; }
  .triple .thick { stroke: $green; fill: rgba($green, 20%); }
  .triple .label { background: $green; }
}

.qed {
  display: block;
  float: right;
  width: 8px;
  height: 8px;
  border: 1px solid currentColor;
  margin-top: 8px;
}
