.chaos-game
  x-select.tabs.var(:bind="shape")
    div(value="3") Triangle
    div(value="4") Square
    div(value="5") Pentagon

  x-geopad(width=760 height=440)
    canvas(width=1520 height=880)
    svg
      circle.move.red(name="x0")
      circle.move.green(name="x1")
      circle.move.yellow(name="x2")
      circle.move.blue(name="x3")
      circle.move.purple(name="x4")
    button.icon-btn.var(title="Clear canvas" @click="game.reset()"): x-icon(name="restart")
    button.icon-btn.var(title="Download image" style="top: 54px" @click="download()"): x-icon(name="download")

  .chaos-rules.var
    label.form-field(style="width: 120px")
      select.chaos-ratio(:bind="ratio" @change="score('s1')")
        option(value="0") 1/2
        option(value="1") 2/3
        option(value="2") Golden ratio
      span.placeholder Ratio

    label.form-field(style="width: 180px")
      select.chaos-special(:bind="rule" @change="score('s2')")
        option(value="none") None
        option(value="midpoints") Also include midpoints of edges
        option(value="center") Also include the center of the polygom
        option(value="repeat") Can’t pick same vertex twice in a row
        option(value="adjacent") Has to pick a vertex next to the previous one
      span.placeholder Special rules

    .button-field
      button.btn.btn-red(@click="play(5000)") 5000 Steps
