// =============================================================================
// Binary Choice Component Styles
// (c) Mathigon
// =============================================================================


x-binary-swipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5em 0;

  h3 { text-transform: uppercase; color: #aaa; font-size: 22px; margin-top: 0; }

  .stack {
    height: 260px;
    width: 220px;
    position: relative;
    margin: 20px auto;
    border-radius: 8px;
    background: $grey-background;
  }
  .option .stack .card-wrap { z-index: 10; }

  .card-wrap {
    position: absolute;
    top: 0;
    left: 0;
    &.active { cursor: grab; }
    &.dragging { z-index: 20; }
  }

  .card {
    border-radius: 8px;
    color: white;
    height: 260px;
    width: 220px;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
    transition: box-shadow .2s, transform .2s;

    &.c-red { background: $red; }
    &.c-orange { background: $orange; }
    &.c-yellow { background: $yellow; }
    &.c-lime { background: $lime; }
    &.c-green { background: $green; }
    &.c-teal { background: $teal; }
    &.c-blue { background: $blue; }
    &.c-purple { background: $purple; }
	}

  .card::after {
    content: '';
    position: absolute;
    top: 0;
    width: 33%;
    display: block;
    height: 100%;
    background: transparent;
    transition: background 1s;
    mix-blend-mode: overlay;
  }
  .card-wrap.committed-left .card::after { left: 0; background: linear-gradient(to left, rgba(white, 0%), rgba(white, 75%)); }
  .card-wrap.committed-right .card::after { right: 0; background: linear-gradient(to right, rgba(white, 0%), rgba(white, 75%)); }

  .option .card { box-shadow: 0 0 4px rgba(black, 10%); }
  .card-wrap.active .card { transform: scale(1.1); box-shadow: 0 2px 10px rgba(black, 25%); }
  .card-wrap.dragging .card { transform: scale(1.2); box-shadow: 0 5px 20px rgba(black, 45%); }
}
