// =============================================================================
// Functions
// (c) Mathigon
// =============================================================================


@import "@mathigon/studio/frontend/styles/variables";
@import "../shared/components/relation/relation";


.btn.clear {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
