// =============================================================================
// Graphs and Networks
// (c) Mathigon
// =============================================================================


@import "@mathigon/studio/frontend/styles/variables";
@import "../shared/components/solved/solved";

.svg-block { margin: 0 0 1em 0; }

x-parallax.full-width {
  position: relative;
  left: calc(520px - 50vw);
  height: 480px;
  margin: 1.5em 0;
  width: calc(100vw - 280px);
  @media screen and (max-width: 1120px) { left: -40px; }
  @media screen and (max-width: $browser-medium) { width: 100vw; }
  @media screen and (max-width: $browser-small) { left: -24px; }
  .credit { position: absolute; bottom: 0; right: 0; background: rgba(black, 50%); color: white; font-size: 11px; padding: 1px 8px; }
}

@keyframes effects-pulse-down {
  0% { transform: scale(1); }
  30% { transform: scale(0.9); }
  65% { transform: scale(1.04); }
  85% { transform: scale(0.98); }
  100% { transform: scale(1); }
}

.effects-pulse-down {
  animation: effects-pulse-down .5s;
}

// -----------------------------------------------------------------------------

.drawing-path {
  fill: none;
@include theme(stroke, rgba(black, 70%), rgba(white, 80%));
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.node { @include theme(stroke, $grey-background, $dark-mode-background); fill: $red; stroke-width: 2px; cursor: move; }
.link { stroke: $light-grey; stroke-width: 2px; fill: transparent; }
.arrow { fill: $light-grey; }
.graph { @include theme(background, $grey-background, $dark-mode-background); border-radius: 4px; }

#graph0 .node { transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275); transform: scale(1); transform-origin: center; }
#graph0.novertices .node { transform: scale(0); cursor: default; }

#graph0 .link { stroke-dasharray: 70px; stroke-dashoffset: 140px; transition: stroke-dashoffset 1.6s; }
#graph0.noedges .link { stroke-dashoffset: 70px; }

.person { display: inline-block; width: 24px; height: 24px; text-align: center; color: #FFF; border-radius: 20px; line-height: 24px; font-weight: 600; }
.handshakes .duplicate { opacity: 1; transition: opacity .5s; }
.complete .handshakes .duplicate { opacity: 0.1; }
.handshakes td { text-align: center; color: #666; }

@media screen and (max-width: 1100px) {
  .handshakes {
    width: 100%;
    max-width: 500px;
    line-height: 1.4;
  }
  .handshakes .person {
    margin-left: calc(50% - 12px);
    margin-right: calc(50% - 12px);
  }
}

.house { @include theme(fill, #eee, mix($dark-mode-background, white, 95%)); }
.bridge { fill: $yellow; stroke: transparent; stroke-width: 16px; transition: fill .2s; }
.bridge.green { fill: $green; }
.bridge.red { fill: $red; }
.water { fill: mix($blue, white, 70%); }

// -----------------------------------------------------------------------------

#planarity { margin-top: -20px; }
#planarity circle { fill: $blue; cursor: move; stroke: mix($blue, white, 20%); stroke-width: 2.5px; }
#planarity circle.intersect { fill: $red; }
#planarity line { stroke: rgba(black, 30%); stroke-width: 2.5px; }
#planarity line.intersect { stroke: $red; }

// -----------------------------------------------------------------------------

#konigsberg-proof text { font-weight: 600; text-anchor: middle; fill: white; font-size: 32px; }

.utility { z-index: 10; }
.utility1, .utility2, .utility3 { opacity: 0; transition: opacity .3s; }

// -----------------------------------------------------------------------------

#planar-1 .link, #planar-2 .link, #planar-3 .link { stroke-width: 3px; }

.box > .btn, .tab .btn { position: absolute; bottom: 10px; left: 10px; }
.tab .btn.right { left: auto; right: 10px; }

.four-colour-icons { display: flex; justify-content: center; margin-bottom: 1em; flex-wrap: wrap; }
.four-colour-icon { width: 40px; height: 40px; border: 5px solid transparent;
  margin: 0 4px; cursor: pointer; border-radius: 100%; opacity: 0.6; }
.four-colour-icon.on { border-color: rgba(black, 60%); opacity: 1; }
.four-colours .solve { left: auto; right: 10px; }
.four-colours path { transition: .2s; cursor: pointer; &:hover { opacity: 0.8; } }
.colour-count { color: $dark-grey; font-size: 22px; font-weight: 600; margin: 8px 0 -12px; text-align: center; }

#dominoes { cursor: pointer; }
#dominoes g rect { fill: #999; }
#dominoes g text { fill: #F2F2F2; font-size: 18px; letter-spacing: -1px; }
#dominoes g { /* rtl:ignore */ transform-origin: bottom right; transition: transform .1s linear; }

.tsm {
  background: url(/content/graph-theory/images/map.jpg);
  background-size: cover;
  border-radius: 6px;
  rect { fill: transparent; cursor: pointer; }
  circle { fill: $red; cursor: move; }
  path { fill: none; stroke: $blue; stroke-width: 6; }
}

.vertex-orders text { font-size: 18px; fill: white; }
.vertex-orders circle { transition: fill .5s; }

.euler-sum { opacity: 0; margin: 0.4em 0 0; padding-top: .4em; border-top: 1px solid #ddd; }

#euler-2 .node { stroke: white; }
.euler-table {
  position: absolute;
  background: mix($light-grey, white);
  top: 20px;
  right: 0;
  padding: 8px 12px;
  border-radius: 8px;
  line-height: 1.2;
  p { margin: 0; }
}
