template#wallpaper
  .groups
    .group.active(data-value=1)
    .group(data-value=2)
    .group(data-value=3)
    .group(data-value=4)
    .group(data-value=5)
    .group(data-value=6)
    .group(data-value=7)
    .group(data-value=8)
    .group(data-value=9)
    .group(data-value=10)
    .group(data-value=11)
    .group(data-value=12)
    .group(data-value=13)
    .group(data-value=14)
    .group(data-value=15)
    .group(data-value=16)
    .group(data-value=17)
  canvas
  .colours
    .colour.active(style="background: #f44336")
    .colour(style="background: #ff9800")
    .colour(style="background: #ffeb3b")
    .colour(style="background: #8bc34a")
    .colour(style="background: #009688")
    .colour(style="background: #03a9f4")
    .colour(style="background: #3f51b5")
    .colour(style="background: #9c27b0")
    .colour(style="background: #e91e63")
  .btn-row
    a.btn.save(download target="_blank") Download
    button.btn.clear Clear
