//- ============================================================================
//- Mathigon | <TITLE> Content
//- (c) 2016 Mathigon
//- ============================================================================


include ../mixins

//- ---------------------------------------------------------------------------
//- ---------------------------------------------------------------------------

section
  +intro

  h2 Title

  p Content
