template#tessellation
  svg
  .menu
    .add(data-shape=3): svg(width=50 height=50)
    .add(data-shape=4): svg(width=50 height=50)
    .add(data-shape=5): svg(width=50 height=50)
    .add(data-shape=6): svg(width=50 height=50)
    .add(data-shape=8): svg(width=50 height=50)
  .btn-row: button.btn.clear Clear
