// =============================================================================
// Area and Shapes
// (c) Mathigon
// =============================================================================


@import "../shared/variables";
@import "../shared/components/binary-swipe";
@import "../shared/components/relation";

// TODO

.tangram {
  border-radius: 6px 6px 0 0;
  background: @grey-background;


  .simple-tangram-bg { 
    width: 100%;
    background-image: url('images/square.svg');   
    background: url('images/square.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    opacity: 0.2;
  }

  .simple-tangram-bg, x-polypad { height: 450px; }

  .shapes { background: @grey; border-radius: 0 0 6px 6px; height: 100px; }

}

svg.solution-outline {
  stroke: black;
  stroke-width: 1px;
  fill: none;
  position: absolute;
}
